# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# VS Code
.vscode/

# Logs
logs/

# Database
*.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store

# Windows
Thumbs.db
