fastapi
uvicorn[standard]

pyyaml

sqlalchemy
alembic
psycopg[binary]
pgvector

pydantic
pydantic-settings

openai

langchain
langchain-community
langgraph
pypdf
uuid-utils

python-dotenv
python-jose[cryptography]

pytest
httpx

langfuse
